<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <menuitem
                id="academy_menu_root"
                name="Academy"
                sequence="20"
        ></menuitem>
        <menuitem id="academy_master_menu_category"
                  name="Data Master"
                  parent="academy_menu_root"
                  sequence="20"

        ></menuitem>

    </data>

</odoo>